<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<h2> Login </h2>

<body>
    <form action = "" method = "post"> {% csrf_token %}
      
      {% for field, error in form.errors.items %}
        <font color = "red">
          {% if field != '__all__' %}{{ field }}{% endif %}
          {{ error | striptags }}
          <br></br>
        </font>
      {% endfor %}
            
      <table style = "width:100%;">

        <col width="30%">
        <col width="70%">
        <tr>
            <td align = "left" valign = "bottom" height = "30px">
                Username: 
            </td> 
            <td align = "left" valign = "bottom" height = "30px">
                {{form.username}}                
            </td>     
        </tr> 
        <tr>   
           <td align = "left" valign = "bottom" height = "30px">           
               Password:
           </td>
           <td align = "left" valign = "bottom" height = "30px">
               {{form.password}}
           </td>
        </tr>
      </table>

      <div class = "content_button_row">
      
          <input class = "content_button" type = "submit" value = "login" name = "login">

          &nbsp&nbsp

          <input class = "content_button" type = "submit" value = "register" name = "register">

      </div>

    </form>
</body>
</html>

{% endblock %}
