<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2> Register </h2>

<form action = "/accounts/register/" method="post"> {% csrf_token %}

    <font color = "red"> {{ form.username.errors }} </font>

    <table style = "width:100%;">
      <col width="30%">
      <col width="70%">
      <tr>
          <td align = "left" valign="bottom"> Username: </td> 
          <td align = "left" valign="bottom"> {{form.username}} Required </td>
      </tr>
      <tr>
          <td></td>
          <td align = "left"> 30 characters or fewer. Letters, digits and @/./+/-/_ only. </td>
      </tr>
      <tr>
          <td align = "left" valign="bottom" height="45px"> Password: </td>
          <td align = "left" valign="bottom" height="45px"> {{form.password1}} </td>
      </tr>  
      <tr>
          <td align = "left" valign="bottom" height="60px"> Password Confirmation: </td> 
          <td align = "left" valign="bottom" height="60px"> {{form.password2}} </td>
      </tr>
      <tr>  
          <td> </td>
          <td align = "left"> Enter the same password as above, for verification. </td>
      </tr>
    </table>

<div class = "button_row">

    <input type = "submit" name = "register" value = "register">

    &nbsp&nbsp
        
    <input type = "submit" name = "login" value = "login">

</div>

</form>

{% endblock %}
