<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<h2> Register </h2>

<form action = "/accounts/register/" method="post"> {% csrf_token %}

{{ form.username.errors }}

<table style = "width:100%;">
  <col width="30%">
  <col width="70%">
  <tr>
      <td align = "left" valign="bottom"> Username: </td> 
      <td align = "left" valign="bottom"> {{form.username}} Required </td>
  </tr>
  <tr>
      <td></td>
      <td align = "left"> 30 characters or fewer. Letters, digits and @/./+/-/_ only. </td>
  </tr>
  <tr>
      <td align = "left" valign="bottom"> Password: </td>
      <td align = "left" valign="bottom"> {{form.password1}} </td>
  </tr>  
  <tr>
      <td align = "left" valign="bottom"> Password Confirmation: </td> 
      <td align = "left" valign="bottom"> {{form.password2}} </td>
  </tr>
  <tr>  
      <td> </td>
      <td align = "left"> Enter the same password as above, for verification. </td>
  </tr>
</table>
    

<input type = "submit" value = "Register"/>

</form>

<p style="margin-top:4.0em;"> Click <a href = "/accounts/login/"> here </a> to log in as existing user </p>

{% endblock %}
