<!DOCTYPE html>

{% extends "base.html" %}

{% block header_right %} 
   
    {% if user.is_authenticated %}

        <p style="text-align:right;padding-right:1em;">
            Mode: Single Player; &nbsp;&nbsp; Player: {{player}} <a href = "/accounts/logout"> &nbsp;&nbsp;logout </a>
        </p>

    {% endif %}
    
{% endblock %}

{% block sidebar %}

    <form action="" method="post"> {% csrf_token %}
        <input style="border-width:7px;font-size:1.2em; padding-left:2.0em;padding-right:2.0em;border-radius:15px;font-style:italic" type="submit" name="reset" value="Reset">
    </form>

{% endblock %}

{% block extension %}

{% if user.is_authenticated %}

   {% if form.errors %}

      <p style="color: red;">Form Error: </p>
      <p {{form.errors}} </p>

   {% else %} 
     
      <style type="text/css"> 
          .ttt_button {
              width:2.3em;
              height:2.3em;
              text-align:center; 
              vertical-align:center; 
              display:inline-block; 
              font-size:2em;                                     
          } 

          #button_area {
              position:absolute; 
              left:30%;
              top:8em; 
              width:15em; 
              height:15em; 
              background:#EEEEEE;
          }
      </style>
    
      <div id = "button_area">
          <form action="" method="post"> {% csrf_token %}
            <input type="submit" name="sqr1" class="ttt_button" value="{{session.sqr1|upper}}">
            <input type="submit" name="sqr2" class="ttt_button" value="{{session.sqr2|upper}}">
            <input type="submit" name="sqr3" class="ttt_button" value="{{session.sqr3|upper}}">
            <input type="submit" name="sqr4" class="ttt_button" value="{{session.sqr4|upper}}">
            <input type="submit" name="sqr5" class="ttt_button" value="{{session.sqr5|upper}}">
            <input type="submit" name="sqr6" class="ttt_button" value="{{session.sqr6|upper}}">
            <input type="submit" name="sqr7" class="ttt_button" value="{{session.sqr7|upper}}">
            <input type="submit" name="sqr8" class="ttt_button" value="{{session.sqr8|upper}}">
            <input type="submit" name="sqr9" class="ttt_button" value="{{session.sqr9|upper}}">
          </form>
       </div>
 
   {% endif %}

   <script type="text/javascript">
      {% if status|upper == 'USERWON' %}
         alert ("You win!")                       
      {% elif status|upper == 'USERLOST' %}
         alert ("You lose!")
      {% elif status|upper == 'DRAW' %}
         alert ("Draw!")
      {% endif %}
   </script>
   
{% endif %}

{% endblock %}







